//////////////////////
/// MIXIN HomePage///
/////////////////////

//Mixin slider vers gauche, h1, versionné responsive
@mixin sliderleftSize {
  @keyframes sliderleftW {
    0% {
      transform: translateX(600px);
      opacity: 0;
      visibility: hidden;
    }
  
    30% {
      opacity: 0;
      visibility: visible;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes sliderleftD {
    0% {
      transform: translateX(400px);
      opacity: 0;
    visibility: hidden;
    }
  
    30% {
      opacity: 0;
      visibility: visible;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes sliderleftT {
    0% {
      transform: translateX(200px);
      opacity: 0;
    visibility: hidden;
    }
  
    30% {
      opacity: 0;
      visibility: visible;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes sliderleftM {
    0% {
      transform: translateX(100px);
      opacity: 0;
    visibility: hidden;
    }
  
    30% {
      opacity: 0;
      visibility: visible;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
};
//Mixin slider vers droite, h2, versionné responsive
@mixin sliderrightSize {
  @keyframes sliderrightW {
    0% {
      transform: translateX(-600px);
      opacity: 0;
      visibility: hidden;
    }
  30%{
    opacity: 0;
    visibility: visible;
  }
    
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes sliderrightD {
    0% {
      transform: translateX(-500px);
      opacity: 0;
      visibility: hidden;
    }
  
    30% {
      visibility: visible;
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes sliderrightT {
    0% {
      transform: translateX(-200px);
      opacity: 0;
      visibility: hidden;
    }
  
    30% {
      visibility: visible;
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes sliderrightM {
    0% {
      transform: translateX(-100px);
      opacity: 0;
      visibility: hidden;
    }
  
    30% {
      visibility: visible;
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
};

//Mixin slider vers bot, <p
@mixin sliderbotSize {
  @keyframes sliderbot {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
  
    70% {
  
      opacity: 0.7;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes sliderbotNav {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
  
    70% {
  
      opacity: 0.1;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}
@mixin sliderTop {
  @keyframes slidertop {
    0% {
      transform: translateY(40px);
      opacity: 0;
      
    }
  
    70% {
  
      opacity: 0.7;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }
}
/////////////////////////////////////////////////
//ANIMATION TRANSI  --> PAGE TOUS LES PROJETS//
////////////////////////////////////////////////


//Mixin slider vers top, from ..., transition
@mixin slide-up-from{
  @keyframes slide-up-from {
    0% {
      transform: translateY(0px);
    }

    30% {
      opacity: 1;
      transform: translateY(20px);

    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
      transform: translateY(-800px);
    }
  }
}
//Mixin slider vers top, to ProjectPage..., transition
@mixin slide-up-to{
  @keyframes slide-up-to {
    0% {
      opacity: 0;
      transform: translateY(800px);
    }


    10% {
      opacity: 0.1;

    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
/////////////////////////////////////////////////
//ANIMATION TRANSI  --> PAGE ACCUEIL //
////////////////////////////////////////////////
/// //Mixin slider vers from, ...to, transition
@mixin slide-down-from{
  @keyframes slide-down-from {
    0% {opacity: 1;
      transform: translateY(0px);
    }

    30% {
      opacity: 1;
      transform: translateY(-20px);

    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
      transform: translateY(800px);
    }
  }
}
@mixin slide-down-to{
  @keyframes slide-down-to {
    0% {
      opacity: 0;
      transform: translateY(-800px);
      visibility: hidden;
    }


    
    
    100% {
      opacity: 0;
      transform: translateY(0px);
      visibility: visible;
    }
  }
}

/////////////////////////////////////////////////
//ANIMATION TRANSI  --> PAGE EXPERIENCE //
////////////////////////////////////////////////
@mixin slide-left-from{
  @keyframes slide-left-from {
    0% {
      transform: translateX(0px);
    }

    30% {
      opacity: 1;
      transform: translateX(30px);

    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
      transform: translateX(-800px);
    }
  }
}
@mixin slide-left-to{
  @keyframes slide-left-to {
    0% {
      opacity: 0;
      transform: translateX(1500px);
    }


    10% {
      opacity: 0.1;

    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
/////////////////////////////////////////////////
//ANIMATION TRANSI  --> PAGE PROJET  //
////////////////////////////////////////////////
@mixin slide-right-from{
  @keyframes slide-right-from {
    0% {
      transform: translateX(0px);
    }

    30% {
      opacity: 1;
      transform: translateX(-30px);

    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
      transform: translateX(800px);
    }
  }
}
@mixin slide-right-to{
  @keyframes slide-right-to {
    0% {
      opacity: 0;
      transform: translateX(-1500px);
    }


    10% {
      opacity: 0.1;

    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}


